.post-textarea {
    min-height: 150px !important;
}
.post-input[readonly] {
  border: none;
}

.post-textarea[readonly] {
  border: none;
}

.gender-radio {
  font-size: 1.5rem;
  display: flex;
}

.gender-radio input[type="radio"] {
  font-size: 1.5rem;
  margin-left: 5px;
}

.index-post-label {
    margin-bottom: 0 !important;
    font-size: 1.75rem;
    cursor: pointer;
    color: #274e13 !important;
}
.index-post-label:hover  {
    text-decoration: underline ;
}

.index-post-button {
    width: 75px
}

.post-line {
    background-color: #38761d ;
}

.create-date-block {
  display: block;
}

.create-date {
    font-size: 0.85rem;
}

.ap-base {
    background-color: #87bef0 !important;
}

.input.is-medium,.textarea.is-medium {
    font-size: 1.1rem !important;
}

.hero.is-primary .title {
    color: #363636 !important ;
}

.hero.is-primary a:not(.button):not(.dropdown-item):not(.tag),.hero.is-primary strong {
    color: #363636 !important ;
}

.button.is-medium {
    font-size: 1.1rem !important ;
}

.button.is-large {
    font-size: 1.1rem !important ;
}

.button.is-info {
    background-color: #f2e40c;
    border-color: transparent;
    color: #000000 !important ;
}